<div style="width: 100%; height: 85vh; background-size: contain; " class="d-flex justify-content-center align-items-center">
    <div style="width: 800px; " class=" shadow p-5 row rounded bg-light align-items-center">
        <div class="col-lg-8">
            <img  src="https://img.freepik.com/free-vector/privacy-policy-concept-illustration_114360-7853.jpg?size=338&ext=jpg&ga=GA1.1.1222169770.1702771200&semt=ais" alt="no image" class="img-fluid">
        </div>
        <div class="col-lg-4">
            <p style="font-size: x-large;" class="fw-bolder mb-5 ">Register Form</p>
            <form [formGroup]="registerForm" (ngSubmit)="register()" >

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="enter your name" formControlName="username"  name="username" >
                    <label for="floatingInput">Enter your name</label>
                </div>
                <!-- Validation -->
                <div *ngIf="this.registerForm.get('username')?.errors&&this.registerForm.get('username')?.touched" class="mb-3 fw-bolder text-danger">
                    *Invalid Username
                </div>
               
                

               
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"  name="email" formControlName="email">
                    <label for="floatingInput">Email Address</label>
                </div>

                <!-- Validation -->
                <div *ngIf="this.registerForm.get('email')?.errors&&this.registerForm.get('email')?.touched" class="mb-3 fw-bolder text-danger">
                    *Invalid Email
                </div>
               
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password" >
                    <label for="floatingPassword">Password</label>
                </div>
                <!-- Validation -->
                <div *ngIf="this.registerForm.get('password')?.errors&&this.registerForm.get('password')?.touched" class="mb-3 fw-bolder text-danger">
                    *Invalid Password
                </div>
                
                <div class="d-grid">
                    <button  style="background-color: skyblue;" type="submit" class="btn ">Register</button>
                    <p>Already have an account? <a style="text-decoration: none;" routerLink="/user/login">Login</a></p>
                </div>
            </form>
        </div>
    </div>

</div>